# =====================================================================
#  Lynx - Variables de entorno de ejemplo
#  © 2026 Abel Gomez. Todos los derechos reservados.
#  Copia este archivo como .env y ajusta los valores si es necesario.
#  En FASE 1 (local sin Docker) NO es obligatorio: todos los
#  application.properties usan ${VARIABLE:valor_local} como respaldo.
# =====================================================================

# ---------- PostgreSQL ----------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL_AUTH=jdbc:postgresql://localhost:5432/lynx_auth
SPRING_DATASOURCE_URL_BIOMETRIA=jdbc:postgresql://localhost:5432/lynx_biometria
SPRING_DATASOURCE_URL_ACCESOS=jdbc:postgresql://localhost:5432/lynx_accesos

# ---------- Eureka ----------
EUREKA_URL=http://localhost:8761/eureka/

# ---------- JWT ----------
# Debe tener mínimo 64 caracteres para HS512
JWT_SECRET=lynx_jwt_hs512_secret_minimo_64_caracteres_2024_abel_gomez_seguro_ok

# ---------- Redis ----------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_lynx_2024

# ---------- Kafka ----------
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ---------- URLs internas de servicios ----------
FACE_SERVICE_URL=http://localhost:8082
VOICE_SERVICE_URL=http://localhost:8083

# ---------- Correo (notification-service) ----------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_email@gmail.com
MAIL_PASSWORD=tu_app_password
